<!-- Breadcrumb -->
<section class="breadcrumb breadcrumb-list mb-0">
  <span class="primary-right-round"></span>
  <div class="container">
    <h1 class="text-white">Earnings</h1>
    <ul>
      <li><a [routerLink] = "routes.home">Home</a></li>
      <li>Earnings</li>
    </ul>
  </div>
</section>
<!-- /Breadcrumb -->

<!-- Dashboard Menu -->
<div class="dashboard-section coach-dash-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="dashboard-menu coaurt-menu-dash">
          <ul>
            <li>
              <a [routerLink] = "routes.coachDashboard" >
                <img src="assets/img/icons/dashboard-icon.svg" alt="Icon">
                <span>Dashboard</span>
              </a>
            </li>
            <li>
              <a [routerLink]="routes.coachCourts" >
                <img src="assets/img/icons/court-icon.svg" alt="Icon">
                <span> Courts</span>
              </a>
            </li>
            <li>
              <a [routerLink] = "routes.coachRequest">
                <img src="assets/img/icons/request-icon.svg" alt="Icon">
                <span>Requests</span>
                <span class="court-notify">03</span>
              </a>
            </li>
            <li>
              <a [routerLink] = "routes.coachBooking" >
                <img src="assets/img/icons/booking-icon.svg" alt="Icon">
                <span>Bookings</span>
              </a>
            </li>
            <li>
              <a [routerLink] = "routes.coachChat">
                <img src="assets/img/icons/chat-icon.svg" alt="Icon">
                <span>Chat</span>
              </a>
            </li>
            <li>
              <a [routerLink] = "routes.coachEarning" class="active">
                <img src="assets/img/icons/invoice-icon.svg" alt="Icon">
                <span>Earnings</span>
              </a>
            </li>
            <li>
              <a [routerLink] = "routes.coachWallet">
                <img src="assets/img/icons/wallet-icon.svg" alt="Icon">
                <span>Wallet</span>
              </a>
            </li>
            <li>
              <a [routerLink] = "routes.coachProfile">
                <img src="assets/img/icons/profile-icon.svg" alt="Icon">
                <span>Profile Setting</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Dashboard Menu -->

<!-- Page Content -->
<div class="content court-bg">
  <div class="container">

    <!-- Sort By -->
    <div class="row">
      <div class="col-lg-12">
        <div class="sortby-section court-sortby-section">
          <div class="sorting-info">
            <div class="row d-flex align-items-center">
              <div class="col-xl-6 col-md-6 col-sm-12 col-12">
                <div class="coach-court-list mb-0">
                  <ul class="nav">
                    <li><a  [routerLink] = "routes.coachEarning">Court</a></li>
                    <li><a class="active" [routerLink] = "routes.earningCoaching">Coaching</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-6 col-md-6 col-sm-12 col-12">
                <div class="sortby-filter-group">
                  <div class="sortbyset">
                    <span class="sortbytitle">Sort By</span>
                    <div class="sorting-select">
                      <mat-select   [(ngModel)]="selectedValue1" [ngModelOptions]="{standalone: true}" class="select"  placeholder="Relevance">
                        @for (data of selectedList1; track data) {
                          <mat-option [value]="data.value">
                            {{data.value}}
                          </mat-option>
                        }
                      </mat-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Sort By -->

    <div class="row">
      <div class="col-md-12 col-lg-12">

        <!-- Chart -->
        <div class="card card-chart-blk">
          <div class="coache-head-blk">
            <div class="row align-items-center">
              <div class="col-xl-6 col-md-6">
                <div class="court-table-head">
                  <h4>Invoices</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing</p>
                </div>
              </div>
              <div class="col-xl-6 col-md-6">
                <div class="sortby-section invoice-sort">
                  <div class="sorting-info">
                    <div class="sortby-filter-group court-sortby">
                      <div class="sortbyset week-bg me-0">
                        <div class="sorting-select coach-booking-mat">
                          <mat-select   [(ngModel)]="selectedValue2" [ngModelOptions]="{standalone: true}" class="select"  placeholder="This Week">
                            @for (data of selectedList2; track data) {
                              <mat-option [value]="data.value">
                                {{data.value}}
                              </mat-option>
                            }
                          </mat-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div id="bar"><apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
              [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
              [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend" [fill]="chartOptions.fill"
              [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
            [xaxis]="chartOptions.xaxis"></apx-chart></div>
          </div>
        </div>
        <!-- /Chart -->

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="court-tab-content">
          <div class="card card-tableset">
            <div class="card-body">
              <div class="coache-head-blk">
                <div class="row align-items-center">
                  <div class="col-md-5">
                    <div class="court-table-head">
                      <h4>Invoices</h4>
                      <p>Lorem Ipsum is simply dummy text of the printing</p>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="table-search-top invoice-search-top">
                      <div id="tablefilter">
                        <div class="dataTables_filter">
                          <label>
                            <input
                              [(ngModel)]="searchDataValue"
                              (ngModelChange)="searchData(searchDataValue)"
                              class="form-control"
                              placeholder="Search..."
                              />
                            </label>
                          </div>
                        </div>
                        <div class="request-coach-list select-filter">
                          <div class="sortby-filter-group court-sortby">
                            <div class="sortbyset m-0">
                              <div class="sorting-select">
                                <mat-select   [(ngModel)]="selectedValue1" [ngModelOptions]="{standalone: true}" class="select"  placeholder="All Invoices">
                                  @for (data of selectedList1; track data) {
                                    <mat-option [value]="data.value">
                                      {{data.value}}
                                    </mat-option>
                                  }
                                </mat-select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table  (matSortChange)="sortData($event)" matSort matSortActive="Sno" matSortDirection="asc"
                    matSortDisableClear  class="table table-borderless datatable">
                    <thead class="thead-light">
                      <tr>
                        <th mat-sort-header="playerName">Player name</th>
                        <th mat-sort-header="lessonType">Lesson Type</th>
                        <th mat-sort-header="date">Date & Time </th>
                        <th mat-sort-header="payment">Payment</th>
                        <th mat-sort-header="additionalGuests">Additional Guests</th>
                        <th mat-sort-header="paidDate">Paid On</th>
                        <th mat-sort-header="download">Download</th>
                        <th mat-sort-header="ACTION"></th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (data of tableData; track data) {
                        <tr>
                          <td>
                            <h2 class="table-avatar">
                              <a [routerLink]="routes.coach_profile" class="avatar avatar-sm flex-shrink-0"><img class="avatar-img" [src]="data.img" alt="User Image"></a>
                              <span class="table-head-name table-name-user flex-grow-1">
                                <a [routerLink]="routes.coach_profile">{{data.playerName}}</a>
                              </span>
                            </h2>
                          </td>
                          <td >{{data.lessonType}}</td>
                          <td class="table-date-time">
                            <h4>{{data.date}}<span>{{data.time}}</span></h4>
                          </td>
                          <td><span class="pay-dark">{{data.payment}}</span></td>
                          <td >{{data.additionalGuests}}</td>
                          <td>{{data.paidDate}}</td>
                          <td class="text-pink view-detail-pink"><a href="javascript:void(0);"><i class="feather icon-download"></i>{{data.download}}</a></td>
                          <td class="text-end">
                            <div class="dropdown dropdown-action table-drop-action">
                              <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                              <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="javascript:void(0);"><i class="feather icon-edit"></i>Edit</a>
                                <a class="dropdown-item" href="javascript:void(0);"><i class="feather icon-trash"></i>Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <app-custom-pagination></app-custom-pagination>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- /Page Content -->