<!-- Page Content -->
<div class="content">
  <!-- About Us Info -->
  <section class="aboutus-info">
    <div class="container">
      <!-- Banners -->
      <div class="row d-flex align-items-center">
        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
          <div class="banner text-center">
            <img
              src="assets/img/aboutus/banner-01.jpg"
              class="img-fluid corner-radius-10"
              alt="banner-01"
              />
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <div class="banner text-center">
              <img
                src="assets/img/aboutus/banner-02.jpg"
                class="img-fluid corner-radius-10"
                alt="banner-02"
                />
              </div>
            </div>
            <div class="col-12 col-sm-3 col-md-3 col-lg-3">
              <div class="banner text-center">
                <img
                  src="assets/img/aboutus/banner-03.jpg"
                  class="img-fluid corner-radius-10"
                  alt="banner-03"
                  />
                </div>
              </div>
            </div>
            <!-- /Banners -->


            <!-- Vision-Mission -->
            <div class="vision-mission">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                  <h2>Your Vision</h2>
                  <p>
                    We envision a thriving badminton ecosystem with innovative
                    technologies that enhance skills and cultivate a love for the
                    sport. Our platform inspires individuals to unleash their full
                    potential in badminton.
                  </p>
                  <p>
                    We revolutionize badminton, empowering coaches and players to
                    excel. Our platform offers comprehensive tools and support for
                    growth within the badminton community. Join us and reach new
                    heights of excellence!
                  </p>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                  <div class="mission-bg">
                    <h2>Our Mission</h2>
                    <p>
                      We provide coaches and players with a seamless platform for
                      connectivity, personalized insights, and educational resources.
                      Together, we foster a collaborative community that supports
                      growth and success in badminton.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Vision-Mission -->
          </div>
        </section>
        <!-- /About Us Info -->

        <section class="section ourteam dull-bg">
          <div class="container">
            <div class="section-heading">
              <h2>Our <span>Team</span></h2>
              <p class="sub-title">
                Our team united by passion, driven by excellence.
              </p>
            </div>
            <div class="featured-slider-group p-0">
              <!-- Testimonials Slide -->
              <owl-carousel-o class="team-slider" [options]="ourTeamsOwlOptions">
                @for (slide of ourteams; track slide) {
                  <ng-template
                    class="item"
                    carouselSlide
                    >
                    <div class="team-item">
                      <div class="info text-center">
                        <div class="wrap">
                          <div class="prfile-pic">
                            <img [src]="slide.img" class="img-fluid" alt="team-01" />
                          </div>
                          <div class="short-info">
                            <h4>{{ slide.name }}</h4>
                            <h6>{{ slide.role }}</h6>
                          </div>
                        </div>
                        <div class="more">
                          <div class="short-info">
                            <h4>{{ slide.name }}</h4>
                            <h6>{{ slide.role }}</h6>
                          </div>
                          <p>{{ slide.para }}</p>
                          <ul class="social-medias d-inline-flex">
                            <li class="facebook">
                              <a href="javascript:void(0);"
                                ><i class="fa-brands fa-facebook-f"></i
                              ></a>
                            </li>
                            <li class="instagram">
                              <a href="javascript:void(0);"
                                ><i class="fa-brands fa-instagram"></i
                              ></a>
                            </li>
                            <li class="twitter">
                              <a href="javascript:void(0);"
                                ><i class="fa-brands fa-twitter"></i
                              ></a>
                            </li>
                            <li class="pinterest">
                              <a href="javascript:void(0);"
                                ><i class="fa-brands fa-pinterest"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                }
              </owl-carousel-o>
              <!-- /Testimonials Slide -->
            </div>
          </div>
        </section>

        <!-- Group Coaching -->
        <section class="section white-bg">
          <div class="container">
            <div class="section-heading">
              <h2>Our <span>Features</span></h2>
              <p class="sub-title">
                Discover your potential with our comprehensive training, expert
                trainers, and advanced facilities.Join us to improve your athletic
                career
              </p>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-4 col-md-6 d-flex">
                <div class="work-grid coaching-grid w-100">
                  <div class="work-icon">
                    <div class="work-icon-inner">
                      <img
                        src="assets/img/icons/coache-icon-01.svg"
                        class="img-fluid"
                        alt=""
                        />
                      </div>
                    </div>
                    <div class="work-content">
                      <h3>Group Coaching</h3>
                      <p>
                        Accelerate your skills with tailored group coaching sessions for
                        badminton players game.
                      </p>
                      <a href="javascript:void(0);"> Learn More </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex">
                  <div class="work-grid coaching-grid w-100">
                    <div class="work-icon">
                      <div class="work-icon-inner">
                        <img
                          src="assets/img/icons/coache-icon-02.svg"
                          class="img-fluid"
                          alt=""
                          />
                        </div>
                      </div>
                      <div class="work-content">
                        <h3>Private Coaching</h3>
                        <p>
                          Find private badminton coaches and academies for a personalized
                          approach to skill enhancement.
                        </p>
                        <a href="javascript:void(0);"> Learn More </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 d-flex">
                    <div class="work-grid coaching-grid w-100">
                      <div class="work-icon">
                        <div class="work-icon-inner">
                          <img
                            src="assets/img/icons/coache-icon-03.svg"
                            class="img-fluid"
                            alt=""
                            />
                          </div>
                        </div>
                        <div class="work-content">
                          <h3>Equipment Store</h3>
                          <p>
                            Your one-stop shop for high-quality badminton equipment,
                            enhancing your on-court performance.
                          </p>
                          <a href="javascript:void(0);"> Learn More </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex">
                      <div class="work-grid coaching-grid w-100 mb-0">
                        <div class="work-icon">
                          <div class="work-icon-inner">
                            <img
                              src="assets/img/icons/coache-icon-04.svg"
                              class="img-fluid"
                              alt=""
                              />
                            </div>
                          </div>
                          <div class="work-content">
                            <h3>Innovative Lessons</h3>
                            <p>
                              Enhance your badminton skills with innovative lessons, combining
                              modern techniques and training methods
                            </p>
                            <a href="javascript:void(0);"> Learn More </a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 d-flex">
                        <div class="work-grid coaching-grid w-100 mb-0">
                          <div class="work-icon">
                            <div class="work-icon-inner">
                              <img
                                src="assets/img/icons/coache-icon-05.svg"
                                class="img-fluid"
                                alt=""
                                />
                              </div>
                            </div>
                            <div class="work-content">
                              <h3>Badminton Community</h3>
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                                tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                              </p>
                              <a href="javascript:void(0);"> Learn More </a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 d-flex">
                          <div class="work-grid coaching-grid w-100 mb-0">
                            <div class="work-icon">
                              <div class="work-icon-inner">
                                <img
                                  src="assets/img/icons/coache-icon-06.svg"
                                  class="img-fluid"
                                  alt=""
                                  />
                                </div>
                              </div>
                              <div class="work-content">
                                <h3>Court Rental</h3>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                                  tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                </p>
                                <a href="javascript:void(0);"> Learn More </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <!-- Group Coaching -->
                    <!-- Testimonials -->
                    <section class="section our-testimonials">
                      <div class="container">
                        <div class="section-heading">
                          <h2>Our <span>Testimonials</span></h2>
                          <p class="sub-title">Glowing testimonials from passionate badminton enthusiasts worldwide, showcasing our exceptional services.s.</p>
                        </div>
                        <div class="row">
                          <!-- Testimonials Slide -->
                          <div class="featured-slider-group">
                            <owl-carousel-o class="testimonial-slide featured-venues-slider" [options]="testimonialOwlOptions">
                              @for (slide of TestimonialCarousel; track slide) {
                                <ng-template class="item"  carouselSlide>
                                  <div class="testimonial-group">
                                    <div class="testimonial-review">
                                      <div class="rating-point">
                                        <i class="fas fa-star filled me-1"></i>
                                        <i class="fas fa-star filled me-1"></i>
                                        <i class="fas fa-star filled me-1"></i>
                                        <i class="fas fa-star filled me-1"></i>
                                        <i class="fas fa-star filled me-1"></i>
                                        <span > 5.0</span>
                                      </div>
                                      <h5>{{slide.head}}</h5>
                                      <p>{{slide.para}}</p>
                                    </div>
                                    <div class="listing-venue-owner">
                                      <a class="navigation">
                                        <img [src]="slide.img" alt="avatar">
                                      </a>
                                      <div class="testimonial-content">
                                        <h5>{{slide.name}}</h5>
                                        <a href="javascript:void(0);" class="btn btn-primary ">
                                          {{slide.badge}}
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </ng-template>
                              }
                            </owl-carousel-o>
                          </div>
                          <!-- Testimonials Slide -->
                          <!-- Testimonials Slide -->
                          <div class="brand-slider-group">
                            <owl-carousel-o class=" testimonial-brand-slider  "
                              [options]=" CompaniesOwlOptions">
                              @for (slide of companyCarousel; track slide) {
                                <ng-template class="item" carouselSlide>
                                  <div class="brand-logos">
                                    <img [src]="slide.image" alt="testimonial-brand">
                                  </div>
                                </ng-template>
                              }
                            </owl-carousel-o>
                          </div>
                          <!-- /Testimonials Slide -->
                        </div>
                      </div>
                    </section>



                    <!-- Featured Plans -->
                    <section class="section featured-plan">
                      <div class="work-img">
                        <div class="work-img-right">
                          <img src="assets/img/bg/work-bg.png" alt="featured-img" />
                        </div>
                      </div>
                      <div class="container">
                        <div class="section-heading">
                          <h2>We Made the <span>Plans For You</span></h2>
                          <p class="sub-title">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                            tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                          </p>
                        </div>
                        <div class="interset-btn">
                          <div class="status-toggle d-inline-flex align-items-center">
                            Monthly
                            <input type="checkbox" id="status_1" class="check" />
                            <label for="status_1" class="checktoggle">checkbox</label>
                            Yearly
                          </div>
                        </div>
                        <div class="price-wrap">
                          <div class="row justify-content-center">
                            <div class="col-lg-4 d-flex col-md-6">
                              <!-- Price Card -->
                              <div class="price-card flex-fill">
                                <div class="price-head">
                                  <img src="assets/img/icons/price-01.svg" alt="price-img" />
                                  <h3>Professoinal</h3>
                                </div>
                                <div class="price-body">
                                  <div class="per-month">
                                    <h2><sup>$</sup><span>60.00</span></h2>
                                    <span>Per Month</span>
                                  </div>
                                  <div class="features-price-list">
                                    <h5>Features</h5>
                                    <p>Everything in our free Upto 10 users.</p>
                                    <ul>
                                      <li class="active">
                                        <i class="feather icon-check-circle"></i>Included :
                                        Quality checked by envato
                                      </li>
                                      <li class="active">
                                        <i class="feather icon-check-circle"></i>Included : Future
                                        updates
                                      </li>
                                      <li class="active">
                                        <i class="feather icon-check-circle"></i>Technical Support
                                      </li>
                                      <li class="inactive">
                                        <i class="feather icon-x-circle"></i>Add Listing
                                      </li>
                                      <li class="inactive">
                                        <i class="feather icon-x-circle"></i>Approval of Listing
                                      </li>
                                    </ul>
                                  </div>
                                  <div class="price-choose">
                                    <a href="javascript:void(0);" class="btn viewdetails-btn"
                                      >Choose Plan</a
                                      >
                                    </div>
                                    <div class="price-footer">
                                      <p>
                                        Use, by you or one client, in a single end product which end
                                        users. charged for. The total price includes the item price
                                        and a buyer fee.
                                      </p>
                                    </div>
                                  </div>
                                </div>
                                <!-- /Price Card -->
                              </div>
                              <div class="col-lg-4 d-flex col-md-6">
                                <!-- Price Card -->
                                <div class="price-card flex-fill">
                                  <div class="price-head expert-price">
                                    <img src="assets/img/icons/price-02.svg" alt="price-img" />
                                    <h3>Expert</h3>
                                    <span>Recommended</span>
                                  </div>
                                  <div class="price-body">
                                    <div class="per-month">
                                      <h2><sup>$</sup><span>60.00</span></h2>
                                      <span>Per Month</span>
                                    </div>
                                    <div class="features-price-list">
                                      <h5>Features</h5>
                                      <p>Everything in our free Upto 10 users.</p>
                                      <ul>
                                        <li class="active">
                                          <i class="feather icon-check-circle"></i>Included :
                                          Quality checked by envato
                                        </li>
                                        <li class="active">
                                          <i class="feather icon-check-circle"></i>Included : Future
                                          updates
                                        </li>
                                        <li class="active">
                                          <i class="feather icon-check-circle"></i>Technical Support
                                        </li>
                                        <li class="inactive">
                                          <i class="feather icon-x-circle"></i>Add Listing
                                        </li>
                                        <li class="inactive">
                                          <i class="feather icon-x-circle"></i>Approval of Listing
                                        </li>
                                      </ul>
                                    </div>
                                    <div class="price-choose active-price">
                                      <a href="javascript:void(0);" class="btn viewdetails-btn"
                                        >Choose Plan</a
                                        >
                                      </div>
                                      <div class="price-footer">
                                        <p>
                                          Use, by you or one client, in a single end product which end
                                          users. charged for. The total price includes the item price
                                          and a buyer fee.
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- /Price Card -->
                                </div>
                                <div class="col-lg-4 d-flex col-md-6">
                                  <!-- Price Card -->
                                  <div class="price-card flex-fill">
                                    <div class="price-head">
                                      <img src="assets/img/icons/price-03.svg" alt="price-img" />
                                      <h3>Enterprise</h3>
                                    </div>
                                    <div class="price-body">
                                      <div class="per-month">
                                        <h2><sup>$</sup><span>990.00</span></h2>
                                        <span>Per Month</span>
                                      </div>
                                      <div class="features-price-list">
                                        <h5>Features</h5>
                                        <p>Everything in our free Upto 10 users.</p>
                                        <ul>
                                          <li class="active">
                                            <i class="feather icon-check-circle"></i>Included :
                                            Quality checked by envato
                                          </li>
                                          <li class="active">
                                            <i class="feather icon-check-circle"></i>Included : Future
                                            updates
                                          </li>
                                          <li class="active">
                                            <i class="feather icon-check-circle"></i>Technical Support
                                          </li>
                                          <li class="active">
                                            <i class="feather icon-check-circle"></i>Add Listing
                                          </li>
                                          <li class="active">
                                            <i class="feather icon-check-circle"></i>Approval of
                                            Listing
                                          </li>
                                        </ul>
                                      </div>
                                      <div class="price-choose">
                                        <a href="javascript:void(0);" class="btn viewdetails-btn"
                                          >Choose Plan</a
                                          >
                                        </div>
                                        <div class="price-footer">
                                          <p>
                                            Use, by you or one client, in a single end product which end
                                            users. charged for. The total price includes the item price
                                            and a buyer fee.
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- /Price Card -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                          <!-- /Featured Plans -->

                          <!-- Latest News -->
                          <section class="section featured-venues latest-news">
                            <div class="container">
                              <div class="section-heading">
                                <h2>The Latest <span>News</span></h2>
                                <p class="sub-title">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                                  tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                </p>
                              </div>
                              <div class="row">
                                <div class="featured-slider-group">
                                  <owl-carousel-o
                                    class="featured-venues-slider"
                                    [options]="latestnewsOwlOptions"
                                    >
                                    @for (slide of latestnews; track slide) {
                                      <ng-template class="item" carouselSlide>
                                        <!-- News -->
                                        <div class="featured-venues-item">
                                          <div class="listing-item mb-0">
                                            <div class="listing-img">
                                              <a href="javascript:void(0)">
                                                <img [src]="slide.img1" class="img-fluid" alt="" />
                                              </a>
                                              <div class="fav-item-venues news-sports">
                                                <span class="tag tag-blue">{{ slide.title }}</span>
                                                <div class="list-reviews coche-star">
                                                  <a href="javascript:void(0)" class="fav-icon" (click)="fav(slide)" [ngClass]="{'selected': slide.favourite}">
                                                    <i class="feather icon-heart"></i>
                                                  </a>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="listing-content news-content">
                                              <div class="listing-venue-owner">
                                                <div class="navigation">
                                                  <img [src]="slide.img2" class="img-fluid" alt="" />{{
                                                  slide.name
                                                  }}
                                                  <span
                                                    ><i class="feather icon-calendar"></i
                                                    >{{ slide.year }}</span
                                                    >
                                                  </div>
                                                </div>
                                                <h3 class="listing-title">
                                                  <a href="javascript:void(0)"
                                                    >{{slide.content}}</a
                                                    >
                                                  </h3>
                                                  <div class="listing-button read-new">
                                                    <ul class="nav">
                                                      <li>
                                                        <i class="feather icon-heart"></i>{{ slide.feedback }}
                                                      </li>
                                                      <li>
                                                        <i class="feather icon-heart"></i>{{ slide.command }}
                                                      </li>
                                                    </ul>
                                                    <span
                                                      ><img
                                                      src="assets/img/icons/clock.svg"
                                                      class="img-fluid"
                                                      alt="image"
                                                      />{{ slide.time }}</span
                                                      >
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <!-- /News -->
                                            </ng-template>
                                          }
                                        </owl-carousel-o>
                                      </div>
                                    </div>

                                    <!-- View More -->
                                    <div class="view-all text-center">
                                      <a [routerLink]="routes.bloglist" class="btn btn-secondary btn-icon"
                                        >View All News<i class="feather icon-arrow-right-circle ms-2"></i
                                      ></a>
                                    </div>
                                    <!-- View More -->
                                  </div>
                                </section>
                                <!-- /Latest News -->

                                <!-- Newsletter -->
                                <section class="section newsletter-sport">
                                  <div class="container">
                                    <div class="row">
                                      <div class="col-sm-12">
                                        <div class="subscribe-style">
                                          <div class="banner-blk">
                                            <img
                                              src="assets/img/subscribe-bg.jpg"
                                              class="img-fluid"
                                              alt="subscribe"
                                              />
                                            </div>
                                            <div class="banner-info">
                                              <img
                                                src="assets/img/icons/subscribe.svg"
                                                class="img-fluid"
                                                alt="subscribe"
                                                />
                                                <h2>Subscribe to Newsletter</h2>
                                                <p>Sign up and we'll send the best deals to you</p>
                                                <div class="subscribe-blk bg-white">
                                                  <div class="input-group align-items-center">
                                                    <i class="feather icon-mail"></i>
                                                    <input
                                                      type="email"
                                                      class="form-control"
                                                      placeholder="Enter Email Address"
                                                      aria-label="email"
                                                      />
                                                      <div class="subscribe-btn-grp">
                                                        <input
                                                          type="submit"
                                                          class="btn btn-secondary"
                                                          value="Subscribe"
                                                          />
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </section>
                                        <!-- /Newsletter -->

                                        <!-- /Page Content -->
                                      </div>
