

<!-- Page Content -->
<div class="content court-bg">
  <div class="container">
    <!-- Sort By -->
    <div class="row">
      <div class="col-lg-12">
        <div class="sortby-section court-sortby-section">
          <div class="sorting-info">
            <div class="row d-flex align-items-center">
              <div class="col-xl-6 col-lg-6 col-sm-12 col-12">
                <div class="coach-court-list">
                  <ul class="nav">
                    <li>
                      <a class="active" [routerLink]="routes.coachBooking">Upcoming</a>
                    </li>
                    <li><a  [routerLink]="routes.coachCompleted">Completed</a></li>
                    <li><a [routerLink]="routes.coachCanceled">Cancelled</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-sm-12 col-12">
                <div class="sortby-filter-group court-sortby">
                  <div class="sortbyset week-bg">
                    <div class="sorting-select coach-booking-mat">
                      <mat-select [(ngModel)]="selectedValue1"  [ngModelOptions]="{standalone: true}" class="select"  placeholder="This Week">
                        @for (data of selectedList1; track data) {
                          <mat-option [value]="data.value">
                            {{data.value}}
                          </mat-option>
                        }
                      </mat-select>
                    </div>
                  </div>
                  <div class="sortbyset">
                    <span class="sortbytitle">Sort By</span>
                    <div class="sorting-select">
                      <mat-select [(ngModel)]="selectedValue2"  [ngModelOptions]="{standalone: true}" class="select"  placeholder="Relevance">
                        @for (data of selectedList2; track data) {
                          <mat-option [value]="data.value">
                            {{data.value}}
                          </mat-option>
                        }
                      </mat-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Sort By -->

    <div class="row">
      <div class="col-sm-12">
        <div class="court-tab-content">
          <div class="card card-tableset">
            <div class="card-body">
              <div class="coache-head-blk">
                <div class="row align-items-center">
                  <div class="col-md-6">
                    <div class="court-table-head">
                      <h4>Bookings</h4>
                      <p>Effortlessly track and manage your completed bookings</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="coach-active-blk">
                      <div class="dataTables_filter">
                        <label>
                          <input
                            [(ngModel)]="searchDataValue"
                            (ngModelChange)="searchData(searchDataValue)"
                            class="form-control"
                            placeholder="Search..."
                            />
                          </label>
                        </div>
                        <div class="card-header-btns">
                          <nav>
                            <div class="nav nav-tabs" role="tablist">
                              <button class="nav-link active" id="nav-Recent-tab"
                                data-bs-toggle="tab" data-bs-target="#nav-Recent"
                                type="button" role="tab" aria-controls="nav-Recent"
                                aria-selected="true">
                                Court
                              </button>
                              <button class="nav-link" id="nav-RecentCoaching-tab"
                                data-bs-toggle="tab" data-bs-target="#nav-RecentCoaching"
                                type="button" role="tab" aria-controls="nav-RecentCoaching"
                                aria-selected="false">
                                Coaching
                              </button>
                            </div>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="nav-Recent" role="tabpanel"
                    aria-labelledby="nav-Recent-tab" tabindex="0">
                    <div class="table-responsive">
                      <table matSort (matSortChange)="sortData($event)"
                        class="table table-borderless datatable">
                        <thead class="thead-light">
                          <tr>
                            <th mat-sort-header="courtName">Court Name</th>
                            <th mat-sort-header="courtNumber">Player name</th>
                            <th mat-sort-header="date">Date & Time</th>
                            <th mat-sort-header="additionalGuests">
                              Additional Guests
                            </th>
                            <th mat-sort-header="payment">Payment</th>
                            <th mat-sort-header="details">Details</th>
                            <th mat-sort-header="chat">Chat</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          @for (data of tableData; track data) {
                            <tr>
                              <td>
                                <h2 class="table-avatar">
                                  <a href="javascript:void(0);" class="avatar avatar-sm flex-shrink-0"><img
                                    class="avatar-img" [src]="data.img1"
                                  alt="User Image" /></a>
                                  <span class="table-head-name flex-grow-1">
                                    <a href="javascript:void(0);">{{ data.courtName }}</a>
                                    <span>{{ data.courtNumber }}
                                      <span class="book-on-date">{{
                                        data.bookingTime
                                      }}</span></span>
                                    </span>
                                  </h2>
                                </td>
                                <td>
                                  <h2 class="table-avatar">
                                    <a [routerLink]="routes.coach_profile"
                                      class="avatar avatar-sm flex-shrink-0"><img
                                      class="avatar-img" [src]="data.img2"
                                    alt="User Image" /></a>
                                    <span class="table-head-name table-name-user flex-grow-1">
                                      <a [routerLink]="routes.coach_profile">{{
                                        data.playerName
                                      }}</a>
                                    </span>
                                  </h2>
                                </td>
                                <td class="table-date-time">
                                  <h4>
                                    {{ data.date }}<span>{{ data.time }}</span>
                                  </h4>
                                </td>
                                <td>{{ data.additionalGuests }}</td>
                                <td>
                                  <span class="pay-dark">{{ data.payment }}</span>
                                </td>
                                <td class="text-pink view-detail-pink">
                                  <a href="javascript:void(0);" data-bs-toggle="modal"
                                    data-bs-target="#upcoming-court"><i
                                  class="feather icon-eye"></i>{{ data.details }}</a>
                                </td>
                                <td>
                                  <img src="assets/img/icons/chat-icon-01.svg" class="me-1"
                                    alt="Icon" />{{ data.chat }}
                                  </td>
                                  <td class="text-end">
                                    <div class="dropdown dropdown-action table-drop-action">
                                      <a href="javascript:void(0);" class="action-icon dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false"><i
                                      class="fas fa-ellipsis-h"></i></a>
                                      <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                        class="feather icon-edit"></i>Edit</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i
                                        class="feather icon-trash"></i>Delete</a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              }
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="nav-RecentCoaching" role="tabpanel"
                        aria-labelledby="nav-RecentCoaching-tab" tabindex="0">
                        <div class="table-responsive">
                          <table matSort (matSortChange)="sortData($event)"
                            class="table table-borderless datatable">
                            <thead class="thead-light">
                              <tr>
                                <th mat-sort-header="courtName">Court Name</th>
                                <th mat-sort-header="courtNumber">Player name</th>
                                <th mat-sort-header="date">Date & Time</th>
                                <th mat-sort-header="additionalGuests">
                                  Additional Guests
                                </th>
                                <th mat-sort-header="payment">Payment</th>
                                <th mat-sort-header="details">Details</th>
                                <th mat-sort-header="chat">Chat</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              @for (data of tableData; track data) {
                                <tr>
                                  <td>
                                    <h2 class="table-avatar">
                                      <a href="javascript:void(0);" class="avatar avatar-sm flex-shrink-0"><img
                                        class="avatar-img" [src]="data.img1"
                                      alt="User Image" /></a>
                                      <span class="table-head-name flex-grow-1">
                                        <a href="javascript:void(0);">{{ data.courtName }}</a>
                                        <span>{{ data.courtNumber }}
                                          <span class="book-on-date">{{
                                            data.bookingTime
                                          }}</span></span>
                                        </span>
                                      </h2>
                                    </td>
                                    <td>
                                      <h2 class="table-avatar">
                                        <a [routerLink]="routes.coach_profile"
                                          class="avatar avatar-sm flex-shrink-0"><img
                                          class="avatar-img" [src]="data.img2"
                                        alt="User Image" /></a>
                                        <span class="table-head-name table-name-user flex-grow-1">
                                          <a [routerLink]="routes.coach_profile">{{
                                            data.playerName
                                          }}</a>
                                        </span>
                                      </h2>
                                    </td>
                                    <td class="table-date-time">
                                      <h4>
                                        {{ data.date }}<span>{{ data.time }}</span>
                                      </h4>
                                    </td>
                                    <td>{{ data.additionalGuests }}</td>
                                    <td>
                                      <span class="pay-dark">{{ data.payment }}</span>
                                    </td>
                                    <td class="text-pink view-detail-pink">
                                      <a href="javascript:void(0);" data-bs-toggle="modal"
                                        data-bs-target="#upcoming-court"><i
                                      class="feather icon-eye"></i>{{ data.details }}</a>
                                    </td>
                                    <td>
                                      <img src="assets/img/icons/chat-icon-01.svg" class="me-1"
                                        alt="Icon" />{{ data.chat }}
                                      </td>
                                      <td class="text-end">
                                        <div class="dropdown dropdown-action table-drop-action">
                                          <a href="javascript:void(0);" class="action-icon dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                          class="fas fa-ellipsis-h"></i></a>
                                          <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                            class="feather icon-edit"></i>Edit</a>
                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                            class="feather icon-trash"></i>Delete</a>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                  }
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <app-custom-pagination></app-custom-pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Page Content -->

          <!-- upcoming Modal -->
          <div class="modal custom-modal fade request-modal" id="upcoming-court" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-md">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="form-header modal-header-title">
                    <h4 class="mb-0">
                      Court Booking Details<span class="badge bg-info ms-2">Upcoming</span>
                    </h4>
                  </div>
                  <a class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span class="align-center" aria-hidden="true"><i class="feather icon-x"></i></span>
                  </a>
                </div>
                <div class="modal-body">
                  <!-- Court Request -->
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card dashboard-card court-information">
                        <div class="card-header">
                          <h4>Court Information</h4>
                        </div>
                        <div class="appointment-info">
                          <ul class="appointmentset">
                            <li>
                              <div class="appointment-item">
                                <div class="appointment-img">
                                  <img src="assets/img/booking/booking-03.jpg" alt="" />
                                </div>
                                <div class="appointment-content">
                                  <h6>Wing Sports Academy</h6>
                                  <p class="color-green">Court 1</p>
                                </div>
                              </div>
                            </li>
                            <li>
                              <h6>Booked On</h6>
                              <p>$150 Upto 2 guests</p>
                            </li>
                            <li>
                              <h6>Price Per Guest</h6>
                              <p>$15</p>
                            </li>
                            <li>
                              <h6>Maximum Number of Guests</h6>
                              <p>2</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="card dashboard-card court-information">
                        <div class="card-header">
                          <h4>Player Information</h4>
                        </div>
                        <div class="appointment-info">
                          <ul class="appointmentset">
                            <li>
                              <div class="appointment-item">
                                <div class="appointment-img">
                                  <img src="assets/img/profiles/avatar-06.jpg" alt="" />
                                </div>
                                <div class="appointment-content">
                                  <h6>Martina</h6>
                                  <p>Court 1</p>
                                </div>
                              </div>
                            </li>
                            <li>
                              <h6>
                                Previosly Booked <i class="feather icon-alert-circle ms-1"></i>
                              </h6>
                              <p>22 Jan 2023</p>
                            </li>
                            <li>
                              <h6>No of Bookings</h6>
                              <p>2</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="card dashboard-card court-information">
                        <div class="card-header">
                          <h4>Appointment Information</h4>
                        </div>
                        <div class="appointment-info appoin-border">
                          <ul class="appointmentset">
                            <li>
                              <h6>Booked On</h6>
                              <p>$150 Upto 2 guests</p>
                            </li>
                            <li>
                              <h6>Price Per Guest</h6>
                              <p>$15</p>
                            </li>
                            <li>
                              <h6>Maximum Number of Guests</h6>
                              <p>2</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="card dashboard-card court-information">
                        <div class="card-header">
                          <h4>Payment Details</h4>
                        </div>
                        <div class="appointment-info appoin-border double-row">
                          <ul class="appointmentset">
                            <li>
                              <h6>Court Booking Amount</h6>
                              <p>$150</p>
                            </li>
                            <li>
                              <h6>Additional Guests</h6>
                              <p>2</p>
                            </li>
                            <li>
                              <h6>Amount Additional Guests</h6>
                              <p>$30</p>
                            </li>
                            <li>
                              <h6>Service Charge</h6>
                              <p>$20</p>
                            </li>
                          </ul>
                        </div>
                        <div class="appointment-info appoin-border">
                          <ul class="appointmentsetview">
                            <li>
                              <h6>Total Amount Paid</h6>
                              <p class="color-green">$180</p>
                            </li>
                            <li>
                              <h6>Paid On</h6>
                              <p>Mon, Jul 14</p>
                            </li>
                            <li>
                              <h6>Transaction ID</h6>
                              <p>#5464164445676781641</p>
                            </li>
                            <li>
                              <h6>Payment type</h6>
                              <p>Wallet</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="card dashboard-card court-information">
                        <div class="card-header">
                          <h4>Review Details</h4>
                        </div>
                        <div class="user-review-details">
                          <div class="user-review-img">
                            <img src="assets/img/profiles/avatar-01.jpg" alt="User">
                          </div>
                          <div class="user-review-content">
                            <div class="table-rating">
                              <div class="rating-point">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <span>5.0</span>
                              </div>
                            </div>
                            <span><i class="fa fa-check me-2" aria-hidden="true"></i>Yes, I would book
                              again.</span>
                            <h6>Absolutely perfect</h6>
                            <p>If you are looking for a perfect place for friendly matches with your
                              friends or a competitive match, It is the best place.</p>
                            <h5>Sent on 11/03/2023</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /Court Request -->
                </div>
                <div class="modal-footer">
                  <div class="table-accept-btn">
                    <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn cancel-table-btn">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /upcoming Modal -->

          <!-- upcoming Modal -->
          <div class="modal custom-modal fade request-modal" id="upcoming-coach" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-md">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="form-header modal-header-title">
                    <h4 class="mb-0">
                      Coach Booking Details<span class="badge bg-info ms-2">Upcoming</span>
                    </h4>
                  </div>
                  <a class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span class="align-center" aria-hidden="true"><i class="feather icon-x"></i></span>
                  </a>
                </div>
                <div class="modal-body">
                  <!-- Court Request -->
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card dashboard-card court-information">
                        <div class="card-header">
                          <h4>Player Information</h4>
                        </div>
                        <div class="appointment-info">
                          <ul class="appointmentset">
                            <li>
                              <div class="appointment-item">
                                <div class="appointment-img">
                                  <img src="assets/img/profiles/avatar-06.jpg" alt="" />
                                </div>
                                <div class="appointment-content">
                                  <h6>Martina</h6>
                                  <p>Since 05/05/2023</p>
                                </div>
                              </div>
                            </li>
                            <li>
                              <h6>
                                Previosly Booked <i class="feather icon-alert-circle ms-1"></i>
                              </h6>
                              <p>22 Jan 2023</p>
                            </li>
                            <li>
                              <h6>No of Bookings</h6>
                              <p>2</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="card dashboard-card court-information">
                        <div class="card-header">
                          <h4>Coach Information</h4>
                        </div>
                        <div class="appointment-info">
                          <ul class="appointmentset">
                            <li>
                              <div class="appointment-item">
                                <div class="appointment-img">
                                  <img src="assets/img/featured/featured-06.jpg" alt="" />
                                </div>
                                <div class="appointment-content">
                                  <h6>Angela Roudrigez</h6>
                                  <div class="table-rating">
                                    <div class="rating-point">
                                      <i class="fas fa-star filled"></i>
                                      <i class="fas fa-star filled"></i>
                                      <i class="fas fa-star filled"></i>
                                      <i class="fas fa-star filled"></i>
                                      <i class="fas fa-star filled"></i>
                                      <span>30 Reviews</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                            <li>
                              <h6>Location</h6>
                              <p>Santa Monica, CA</p>
                            </li>
                            <li>
                              <h6>Price Per Hour</h6>
                              <p class="text-primary fw-semibold fs-16">$200.00 / hr</p>
                            </li>
                            <li>
                              <h6>Rank</h6>
                              <p>Expert</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="card dashboard-card court-information">
                        <div class="card-header">
                          <h4>Appointment Information</h4>
                        </div>
                        <div class="appointment-info appoin-border">
                          <ul class="appointmentset">
                            <li>
                              <h6>Booked On</h6>
                              <p>Mon, Jul 14</p>
                            </li>
                            <li>
                              <h6>Booking Type</h6>
                              <p>Single Lesson</p>
                              <p>
                                3 Days * 1 hour &#64;
                                <span class="text-primary">$150.00</span>
                              </p>
                            </li>
                            <li>
                              <h6>Total Number of Hours</h6>
                              <p>2</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="card dashboard-card court-information">
                        <div class="card-header">
                          <h4>Payment Details</h4>
                        </div>
                        <div class="appointment-info appoin-border double-row">
                          <ul class="appointmentset">
                            <li>
                              <h6>Coaching Booking Amount</h6>
                              <p>$200</p>
                            </li>
                            <li>
                              <h6>Service Charge</h6>
                              <p>$20</p>
                            </li>
                            <li>
                              <h6>Total Amount Paid</h6>
                              <p class="text-primary fs-16">$420</p>
                            </li>
                          </ul>
                        </div>
                        <div class="appointment-info appoin-border">
                          <ul class="appointmentset">
                            <li>
                              <h6>Paid On</h6>
                              <p>Mon, Jul 14</p>
                            </li>
                            <li>
                              <h6>Transaction ID</h6>
                              <p>#5464164445676781641</p>
                            </li>
                            <li>
                              <h6>Payment type</h6>
                              <p>Visa Card</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /Court Request -->
                </div>
                <div class="modal-footer">
                  <div class="table-accept-btn">
                    <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn cancel-table-btn">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /upcoming Modal -->