<!-- Page Content -->
<div class="content blur-ellipses login-password">
  <div class="container">
    <div class="row">
      <div
        class="col-xl-6 col-lg-6 col-md-7 mx-auto vph-100 d-flex align-items-center"
        >
        <div class="change-password w-100">
          <header class="text-center">
            <a href="javascript:void(0);">
              <img
                src="assets/img/logo-black.svg"
                class="img-fluid img-header"
                alt="Logo"
                />
              </a>
            </header>
            <div class="shadow-card">
              <h2>Change Password</h2>
              <p>
                Your New Password must be different from<br />
                Previous used Password
              </p>
              <!-- Login Form -->
              <form [formGroup]="form" (ngSubmit)="resetpassword()">
                <div class="form-group">
                  <div class="pass-group group-img">
                    <div class="pass-group group-img">
                      <i
                      [ngClass]="show_password1 === true
                      ? 'toggle-password-confirm feather icon-eye-off'
                      : 'toggle-password-confirm feather icon-eye'"
                        (click)="show_password1 = !show_password1"
                      ></i>
                      <input
                        type="password"
                        class="form-control pass-input"
                        placeholder="New Password"
                        [type]="show_password1 ? 'password' : 'text'"
                        formControlName="password"
                      [ngClass]="{
                        'is-invalid':
                          f['password'].touched && f['password'].invalid
                      }"
                        />
                        @if (f['password'].touched && f['password'].invalid) {
                          <div
                            class="invalid-feedback"
                            >
                            @if (
                              f['password'].errors &&
                              f['password'].errors['required']
                              ) {
                              <div
                                >
                                Password is required.
                              </div>
                            }
                          </div>
                        }
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="pass-group group-img">
                      <i
                      [ngClass]="show_password2 === true
                      ? 'toggle-password-confirm feather icon-eye-off'
                      : 'toggle-password-confirm feather icon-eye'"
                        (click)="show_password2 = !show_password2"
                      ></i>
                      <input
                        class="form-control pass-confirm"
                        type="password"
                        placeholder="Confirm Password"
                        [type]="show_password2 ? 'password' : 'text'"
                        formControlName="confirmpassword"
                    [ngClass]="{
                      'is-invalid':
                        f['confirmpassword'].touched &&
                        f['confirmpassword'].invalid
                    }"
                        />
                        @if (
                          f['confirmpassword'].touched &&
                          f['confirmpassword'].invalid
                          ) {
                          <div
                            class="invalid-feedback"
                            >
                            @if (
                              f['confirmpassword'].errors &&
                              f['confirmpassword'].errors['required']
                              ) {
                              <div
                                >
                                Confirm Password is required.
                              </div>
                            }
                          </div>
                        }
                      </div>
                    </div>

                    <button class="btn btn-secondary w-100 d-inline-flex justify-content-center align-items-center" type="submit">
                      Change Password<i class="feather icon-arrow-right-circle ms-2"></i>
                    </button>
                  </form>
                  <!-- /Login Form -->
                </div>
                <div class="bottom-text text-center">
                  <p>Have an account? <a [routerLink]="routes.login">Sign In!</a></p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Content -->
