<!-- Page Content -->
<div class="content book-cage">
  <div class="container">
    <section class="card mb-40">
      <div class="text-center mb-40">
        <h3 class="mb-1">Book A Court</h3>
        <p class="sub-title mb-0">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
      </div>
      <div class="master-academy dull-whitesmoke-bg card">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-12 col-sm-12 col-md-12 col-lg-9">
            <div class="d-sm-flex justify-content-start align-items-center">
              <a href="javascript:void(0);"
                ><img
                  class="corner-radius-10"
                  src="{{eventDetails.gallery[0]}}"
                  alt=""
              /></a>
              <div class="info">
                <div
                  class="d-flex justify-content-start align-items-center mb-3"
                >
                  <span
                    class="text-white dark-yellow-bg color-white me-2 d-flex justify-content-center align-items-center"
                    >{{eventDetails.points}}</span
                  >
                  <span>{{eventDetails.reviews}} Reviews</span>
                </div>
                <h3 class="mb-2">{{eventDetails.eventName}}</h3>
                <p>
                  {{eventDetails.overview}}
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-3">
            <ul class="d-sm-flex align-items-center justify-content-evenly">
              <li>
                <h3 class="d-inline-block">${{eventDetails.venuePrice}}</h3>
                <span>/hr</span>
                <p>up to 1 guests</p>
              </li>
              <!-- <li>
                <span><i class="feather icon-plus"></i></span>
              </li>
              <li>
                <h3 class="d-inline-block">$5</h3>
                <span>/hr</span>
                <p>each additional guest <br />up to 4 guests max</p>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-8">
        <section class="card booking-form">
          <h3 class="border-bottom">Booking Form</h3>
          <form>
            <div class="mb-3">
              <label for="date" class="form-label">From</label>
              <div class="form-icon">
                <input
                  type="text"
                  
                  class="form-control datetimepicker"
                  bsDatepicker
                  placeholder="Select Date"
                  id="date"
                  [(ngModel)]="bookingDate"
                  [ngModelOptions]="{ standalone: true }"
                />

                <span class="cus-icon">
                  <i class="feather icon-calendar icon-date"></i>
                </span>
              </div>
            </div>
            <div class="mb-3">
              <label for="start-time" class="form-label">Start Time</label>
              <div class="form-icon">
                <input
                  type="text"
                  (click)="toggleTimePcker('minStartTime')"
                  [value]="formatTime(myTime)"
                  class="form-control timepicker"
                  id="start-time"
                  placeholder="Select Start Time"
                />

                <span class="cus-icon"
                  ><i class="feather icon-clock icon-time"></i
                ></span>
              </div>
              <timepicker
                [class.show-sub-menu]="showTimePicker[0] === 'minStartTime'"
                class="custom-timepicker"
                [showMinutes]="false"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="myTime"
              ></timepicker>
            </div>
            <div class="mb-3">
              <label for="end-time" class="form-label">End Time</label>
              <div class="form-icon">
                <input
                  type="text"
                  class="form-control timepicker"
                  (click)="toggleTimePcker('StartTime')"
                  [value]="formatTime(zones)"
                  id="end-time"
                  placeholder="Select End Time"
                />
                <span class="cus-icon"
                  ><i class="feather icon-clock icon-time"></i
                ></span>
              </div>
              <timepicker
                [class.show-sub-menu]="showTimePicker[0] === 'StartTime'"
                class="custom-timepicker"
                [showMinutes]="false"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="zones"
              ></timepicker>
            </div>
          </form>
        </section>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-4">
        <aside class="card booking-details">
          <h3 class="border-bottom">Booking Details</h3>
          <ul>
            <li>
              <i class="fa-regular fa-building me-2"></i>{{eventDetails.eventName}} - {{eventDetails.sportName}}<span class="x-circle"></span>
            </li>
            <li><i class="feather icon-calendar me-2"></i>{{bookingDate.toDateString()}}</li>
            <li><i class="feather icon-clock me-2"></i>{{myTime.getHours()}}:00 PM to {{zones.getHours()}}:00 PM</li>
          </ul>
          <div class="d-grid btn-block">
            <button (click)="clickSubmit()" type="button" class="btn btn-primary">
              Subtotal : ${{getTotalBill()}}
            </button>
          </div>
        </aside>
      </div>
    </div>
    <div class="text-center btn-row">
      <a class="btn btn-primary me-3 btn-icon" href="javascript:void(0);"
        ><i class="feather icon-arrow-left-circle me-1"></i> Back</a
      >
      <a
        class="btn btn-secondary btn-icon"
        (click)="navigateToNext()"
        >Next <i class="feather icon-arrow-right-circle ms-1"></i
      ></a>
    </div>
  </div>
  <!-- /Container -->
</div>
<!-- /Page Content -->
