<!-- Page Content -->
<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <!-- Testimonials Item -->
                <div class="testimonial-group">
                    <div class="testimonial-review">
                        <div class="rating-point">
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <span > 5.0</span>
                       </div>
                        <h5>Finibus mauris. Aliquam consectetur</h5>		
                        <p>DreamSports' coaching services enhanced my badminton skills. Personalized attention from knowledgeable coaches propelled my game to new heights.</p>
                    </div>
                    <div class="listing-venue-owner">
                        <a class="navigation">
                            <img src="assets/img/profiles/avatar-01.jpg" alt="User">
                        </a>	
                        <div class="testimonial-content">
                            <h5>Ariyan Rusov</h5>
                            <a href="javascript:void(0);" class="btn btn-primary ">
                                Badminton
                            </a>
                        </div>											
                    </div>
                </div>
                <!-- /Testimonials Item -->
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <!-- Testimonials Item -->
                <div class="testimonial-group">
                    <div class="testimonial-review">
                        <div class="rating-point">
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <span > 5.0</span>
                       </div>
                        <h5>Finibus mauris. Aliquam consectetur</h5>		
                        <p>DreamSports' advanced badminton equipment has greatly improved my performance on the court. Their quality range of rackets and shoes made a significant impact.</p>
                    </div>
                    <div class="listing-venue-owner">
                        <a class="navigation">
                            <img src="assets/img/profiles/avatar-02.jpg" alt="User">
                        </a>	
                        <div class="testimonial-content">
                            <h5>Mart Sublin</h5>
                            <a href="javascript:void(0);" class="btn btn-primary ">
                                Badminton
                            </a>
                        </div>											
                    </div>
                </div>
                <!-- /Testimonials Item -->
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <!-- Testimonials Item -->
                <div class="testimonial-group">
                    <div class="testimonial-review">
                        <div class="rating-point">
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <span > 5.0</span>
                       </div>
                        <h5>Finibus mauris. Aliquam consectetur</h5>		
                        <p>DreamSports' unmatched professionalism and service excellence left a positive experience. Highly recommended for court rentals and equipment purchases.</p>
                    </div>
                    <div class="listing-venue-owner">
                        <a class="navigation">
                            <img src="assets/img/profiles/avatar-06.jpg" alt="User">
                        </a>	
                        <div class="testimonial-content">
                            <h5>Rebecca</h5>
                            <a href="javascript:void(0);" class="btn btn-primary ">
                                Badminton
                            </a>
                        </div>											
                    </div>
                </div>
                <!-- /Testimonials Item -->
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <!-- Testimonials Item -->
                <div class="testimonial-group">
                    <div class="testimonial-review">
                        <div class="rating-point">
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <span > 5.0</span>
                       </div>
                        <h5>Finibus mauris. Aliquam consectetur</h5>		
                        <p>Finibus mauris. Aliquam consectetur, ex in gravida porttitor. There are many variations of passagesnunc. In sem leo, fermentum at lorem in, porta finibus mauris. Aliquam consectetur, ex in gravida porttitor. There are many variations of passages</p>
                    </div>
                    <div class="listing-venue-owner">
                        <a class="navigation">
                            <img src="assets/img/profiles/avatar-04.jpg" alt="">
                        </a>	
                        <div class="testimonial-content">
                            <h5>Ariyan Rusov</h5>
                            <a href="javascript:void(0);" class="btn btn-primary ">
                                Badminton
                            </a>
                        </div>											
                    </div>
                </div>
                <!-- /Testimonials Item -->
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <!-- Testimonials Item -->
                <div class="testimonial-group">
                    <div class="testimonial-review">
                        <div class="rating-point">
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <span > 5.0</span>
                       </div>
                        <h5>Finibus mauris. Aliquam consectetur</h5>		
                        <p>Finibus mauris. Aliquam consectetur, ex in gravida porttitor. There are many variations of passagesnunc. In sem leo, fermentum at lorem in, porta finibus mauris. Aliquam consectetur, ex in gravida porttitor. There are many variations of passages</p>
                    </div>
                    <div class="listing-venue-owner">
                        <a class="navigation">
                            <img src="assets/img/profiles/avatar-01.jpg" alt="User">
                        </a>	
                        <div class="testimonial-content">
                            <h5>Kevin Rusov</h5>
                            <a href="javascript:void(0);" class="btn btn-primary ">
                                Badminton
                            </a>
                        </div>											
                    </div>
                </div>
                <!-- /Testimonials Item -->
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <!-- Testimonials Item -->
                <div class="testimonial-group">
                    <div class="testimonial-review">
                        <div class="rating-point">
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <span > 5.0</span>
                       </div>
                        <h5>Finibus mauris. Aliquam consectetur</h5>		
                        <p>Finibus mauris. Aliquam consectetur, ex in gravida porttitor. There are many variations of passagesnunc. In sem leo, fermentum at lorem in, porta finibus mauris. Aliquam consectetur, ex in gravida porttitor. There are many variations of passages</p>
                    </div>
                    <div class="listing-venue-owner">
                        <a class="navigation">
                            <img src="assets/img/profiles/avatar-05.jpg" alt="User">
                        </a>	
                        <div class="testimonial-content">
                            <h5>Ariyan Rusov</h5>
                            <a href="javascript:void(0);" class="btn btn-primary ">
                                Badminton
                            </a>
                        </div>											
                    </div>
                </div>
                <!-- /Testimonials Item -->
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <!-- Testimonials Item -->
                <div class="testimonial-group">
                    <div class="testimonial-review">
                        <div class="rating-point">
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <span > 5.0</span>
                       </div>
                        <h5>Finibus mauris. Aliquam consectetur</h5>		
                        <p>Finibus mauris. Aliquam consectetur, ex in gravida porttitor. There are many variations of passagesnunc. In sem leo, fermentum at lorem in, porta finibus mauris. Aliquam consectetur, ex in gravida porttitor. There are many variations of passages</p>
                    </div>
                    <div class="listing-venue-owner">
                        <a class="navigation">
                            <img src="assets/img/profiles/avatar-01.jpg" alt="User">
                        </a>	
                        <div class="testimonial-content">
                            <h5>Andrew</h5>
                            <a href="javascript:void(0);" class="btn btn-primary ">
                                Badminton
                            </a>
                        </div>											
                    </div>
                </div>
                <!-- /Testimonials Item -->
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <!-- Testimonials Item -->
                <div class="testimonial-group">
                    <div class="testimonial-review">
                        <div class="rating-point">
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <span > 5.0</span>
                       </div>
                        <h5>Finibus mauris. Aliquam consectetur</h5>		
                        <p>Finibus mauris. Aliquam consectetur, ex in gravida porttitor. There are many variations of passagesnunc. In sem leo, fermentum at lorem in, porta finibus mauris. Aliquam consectetur, ex in gravida porttitor. There are many variations of passages</p>
                    </div>
                    <div class="listing-venue-owner">
                        <a class="navigation">
                            <img src="assets/img/profiles/avatar-05.jpg" alt="User">
                        </a>	
                        <div class="testimonial-content">
                            <h5>Ariyan Rusov</h5>
                            <a href="javascript:void(0);" class="btn btn-primary ">
                                Badminton
                            </a>
                        </div>											
                    </div>
                </div>
                <!-- /Testimonials Item -->
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <!-- Testimonials Item -->
                <div class="testimonial-group">
                    <div class="testimonial-review">
                        <div class="rating-point">
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <i class="fas fa-star filled me-1"></i>
                            <span > 5.0</span>
                       </div>
                        <h5>Finibus mauris. Aliquam consectetur</h5>		
                        <p>Finibus mauris. Aliquam consectetur, ex in gravida porttitor. There are many variations of passagesnunc. In sem leo, fermentum at lorem in, porta finibus mauris. Aliquam consectetur, ex in gravida porttitor. There are many variations of passages</p>
                    </div>
                    <div class="listing-venue-owner">
                        <a class="navigation">
                            <img src="assets/img/profiles/avatar-06.jpg" alt="User">
                        </a>	
                        <div class="testimonial-content">
                            <h5>Rebecca</h5>
                            <a href="javascript:void(0);" class="btn btn-primary ">
                                Badminton
                            </a>
                        </div>											
                    </div>
                </div>
                <!-- /Testimonials Item -->
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->