

<!-- Page Content -->
<div class="content court-bg">
  <div class="container">

    <!-- Sort By -->
    <div class="row">
      <div class="col-lg-12">
        <div class="sortby-section court-sortby-section">
          <div class="sorting-info">
            <div class="row d-flex align-items-center">
              <div class="col-xl-6 col-lg-6 col-sm-12 col-12">
                <div class="coach-court-list">
                  <ul class="nav">
                    <li><a class="active" [routerLink] = "routes.coachCourts">All Courts</a></li>
                    <li><a [routerLink] = "routes.coachactivecourts">Active Courts</a></li>
                    <li><a [routerLink] = "routes.coachinactivecourts">Inactive Courts</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-sm-12 col-12">
                <div class="sortby-filter-group court-sortby">
                  <div class="sortbyset week-bg">
                    <div class="sorting-select coach-booking-mat">

                      <mat-select  [(ngModel)]="selectedValue2"  [ngModelOptions]="{standalone: true}" class="select"   placeholder="This Week">
                        @for (data of selectedList2; track data) {
                          <mat-option [value]="data.value">
                            {{data.value}}
                          </mat-option>
                        }
                      </mat-select>
                    </div>
                  </div>
                  <div class="sortbyset">
                    <span class="sortbytitle">Sort By</span>
                    <div class="sorting-select">
                      <mat-select  [(ngModel)]="selectedValue1"  [ngModelOptions]="{standalone: true}" class="select"   placeholder="Relevance">
                        @for (data of selectedList1; track data) {
                          <mat-option [value]="data.value">
                            {{data.value}}
                          </mat-option>
                        }
                      </mat-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Sort By -->

    <div class="row">
      <div class="col-sm-12">
        <div class="court-tab-content">
          <div class="card card-tableset">
            <div class="card-body">
              <div class="coache-head-blk">
                <div class="row align-items-center">
                  <div class="col-md-6">
                    <div class="court-table-head">
                      <h4>Courts</h4>
                      <p>Explore top-quality courts for your sporting activities</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="dataTables_filter">
                      <label>
                        <input
                          [(ngModel)]="searchDataValue"
                          (ngModelChange)="searchData(searchDataValue)"
                          class="form-control"
                          placeholder="Search..."
                          />
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table  (matSortChange)="sortData($event)" matSort matSortActive="Sno" matSortDirection="asc"
                    matSortDisableClear  class="table table-borderless datatable">
                    <thead class="thead-light">
                      <tr>
                        <th mat-sort-header="courtname">Court Name</th>
                        <th mat-sort-header="location">Location</th>
                        <th mat-sort-header="amount">Amount</th>
                        <th mat-sort-header="maxguest">Max Guest</th>
                        <th mat-sort-header="additionalguest">Additional Guests</th>
                        <th mat-sort-header="addedon">Added On</th>
                        <th >Details</th>
                        <th mat-sort-header="Status">Status</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (data of tableData; track data; let i = $index) {
                        <tr>
                          <td>
                            <h2 class="table-avatar">
                              <a href="javascript:void(0);" class="avatar avatar-sm  flex-shrink-0"><img class="avatar-img" [src]="data.img" alt="User Image"></a>
                              <span class="table-head-name flex-grow-1">
                                <a href="javascript:void(0);">{{data.courtname}}</a>
                                <span>Court {{data.noofcourt}}</span>
                              </span>
                            </h2>
                          </td>
                          <td>{{data.location}}</td>
                          <td><span class="pay-dark">${{data.amount}}</span></td>
                          <td >{{data.maxguest}}</td>
                          <td>{{data.additionalguest}}</td>
                          <td>{{data.addedon}}</td>
                          <td class="text-pink view-detail-pink"><a href="javascript:void(0);"><i class="feather icon-eye me-1"></i> View Details</a></td>
                          <td class="table-inset-btn">
                            <div class="interset-btn" >
                              <div class="status-toggle d-inline-flex align-items-center">
                                <input type="checkbox"  class="check" id="{{ 'status_' + i}}">
                                <label  class="checktoggle" for="{{ 'status_' + i}}" >checkbox</label>
                              </div>
                            </div>
                          </td>
                          <td class="text-end">
                            <div class="dropdown dropdown-action table-drop-action">
                              <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                              <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="javascript:void(0);"><i class="feather icon-edit"></i>Edit</a>
                                <a class="dropdown-item" href="javascript:void(0);"><i class="feather icon-trash"></i>Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <app-custom-pagination></app-custom-pagination>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- /Page Content -->