<!-- Page Content -->
<div class="content">
  <div class="container wrapper no-padding">
    <div class="row no-margin vph-100">
      <div class="col-12 col-sm-12 col-lg-6 no-padding">
        <div class="banner-bg login">
          <div class="row no-margin h-100">
            <div class="col-sm-10 col-md-10 col-lg-10 mx-auto">
              <div class="h-100 d-flex justify-content-center align-items-center">
                <div class="text-bg register text-center">
                  <button type="button" class="btn btn-limegreen text-capitalize">
                    <i class="fa-solid fa-thumbs-up me-3"></i>Login User &
                    Coach
                  </button>
                  <p>
                    Log in right away for our advanced sports software solutions, created to address issues in regular
                    sporting events and activities.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-lg-6 no-padding">
        <div class="dull-pg">
          <div class="row no-margin vph-100 d-flex align-items-center justify-content-center">
            <div class="col-sm-10 col-md-10 col-lg-10 mx-auto">
              <header class="text-center">
                <a href="javascript:void(0)">
                  <img src="assets/img/logo-black.svg" class="img-fluid imgg-header-logo" alt="Logo" />
                </a>
              </header>
              <div class="shadow-card">
                <h2>Welcome Back</h2>
                <p>Login into your account</p>

                <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active d-flex align-items-center" id="user-tab" data-bs-toggle="tab"
                      data-bs-target="#user" type="button" role="tab" aria-controls="user" aria-selected="true">
                      <span class="d-flex justify-content-center align-items-center"></span>I am a User
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link d-flex align-items-center" id="coach-tab" data-bs-toggle="tab"
                      data-bs-target="#coach" type="button" role="tab" aria-controls="coach" aria-selected="false">
                      <span class="d-flex justify-content-center align-items-center"></span>I am a Coach
                    </button>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="user" role="tabpanel" aria-labelledby="user-tab"> -->
                    <!-- Login Form -->
                    <form [formGroup]="form" (ngSubmit)="user()">
                      <div class="form-group">
                        <div class="group-img">
                          <i class="feather icon-user"></i>
                          <input type="text" class="form-control" placeholder="Email / Username" formControlName="email"
                            [ngClass]="{
                                'is-invalid':
                                  f['email'].touched && f['email'].invalid
                              }" />
                          @if (f['email'].touched && f['email'].invalid) {
                          <div class="invalid-feedback">
                            @if (
                            f['email'].errors &&
                            f['email'].errors['required']
                            ) {
                            <div>
                              Email is required.
                            </div>
                            }
                            @if (
                            f['email'].errors &&
                            f['email'].errors['email']
                            ) {
                            <div>
                              Please, enter valid email address.
                            </div>
                            }
                          </div>
                          }
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="pass-group group-img">
                          <i [ngClass]="
                              show_password === true
                              ? 'toggle-password-confirm feather icon-eye-off'
                              : 'toggle-password-confirm feather icon-eye'"
                            (click)="show_password = !show_password"></i>
                          <input type="password" class="form-control pass-input" placeholder="Password"
                            [type]="show_password ? 'password' : 'text'" formControlName="password" [ngClass]="{
                                'is-invalid':
                                  f['password'].touched && f['password'].invalid
                              }" />
                          @if (
                          f['password'].touched && f['password'].invalid
                          ) {
                          <div class="invalid-feedback">
                            @if (
                            f['password'].errors &&
                            f['password'].errors['required']
                            ) {
                            <div>
                              Password is required.
                            </div>
                            }
                          </div>
                          }
                        </div>
                      </div>
                      <div class="form-group d-sm-flex align-items-center justify-content-between">
                        <div class="form-check form-switch d-flex align-items-center justify-content-start">
                          <input class="form-check-input" type="checkbox" id="user-pass" />
                          <label class="form-check-label" for="user-pass">Remember Password</label>
                        </div>
                        <span><a [routerLink]="routes.forgotPassword" class="forgot-pass">Forgot Password</a></span>
                      </div>
                      <button
                        class="btn btn-secondary register-btn d-inline-flex justify-content-center align-items-center w-100 btn-block"
                        type="submit">
                        Sign In<i class="feather icon-arrow-right-circle ms-2"></i>
                      </button>
                      <div class="form-group">
                        <div class="login-options text-center">
                          <span class="text">Or continue with</span>
                        </div>
                      </div>
                      <div class="form-group mb-0">
                        <ul class="social-login d-flex justify-content-center align-items-center">
                          <li class="text-center">
                            <button type="button"
                              class="btn btn-social d-flex align-items-center justify-content-center">
                              <img src="assets/img/icons/google.svg" class="img-fluid" alt="google" />
                              <span>Google</span>
                            </button>
                          </li>
                          <li class="text-center">
                            <button type="button"
                              class="btn btn-social d-flex align-items-center justify-content-center">
                              <img src="assets/img/icons/facebook.svg" class="img-fluid" alt="facebook" />
                              <span>Facebook</span>
                            </button>
                          </li>
                        </ul>
                      </div>
                    </form>
                    <!-- /Login Form -->
                  <!-- </div> -->
              </div>
              <div class="bottom-text text-center">
                <p>
                  Don’t have an account? <a [routerLink]="routes.register">Sign up!</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->