

		<!-- Page Content -->
		<div class="content court-bg">
			<div class="container">

				<div class="coach-court-list profile-court-list">
					<ul class="nav">
						<li><a  [routerLink]="routes.coach_profile_edit">Profile</a></li>
						<li><a  [routerLink]="routes.coach_setting_lesson">Lesson</a></li>
						<li><a [routerLink]="routes.coach_setting_availability">Availability</a></li>
						<li><a class="active" [routerLink]="routes.coach_setting_password">Change Password</a></li>
						<li><a [routerLink]="routes.coach_other_setting">Other Settings</a></li>
					</ul>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="profile-detail-group">
							<div class="card ">
								<form >
									<div class="row">
										<div class="col-lg-7 col-md-7">
											<div class="input-space">
												<label  class="form-label">Old Password</label>
												<input type="text" class="form-control" id="password" placeholder="Enter Old Password">
											</div>
										</div>
										<div class="col-lg-7 col-md-7">
											<div class="input-space">
												<label  class="form-label">New Password</label>
												<input type="text" class="form-control" id="new-password" placeholder="Enter New Password">
											</div>
										</div>
										<div class="col-lg-7 col-md-7">
											<div class="input-space mb-0">
												<label  class="form-label">Confirm Password</label>
												<input type="text" class="form-control" id="confirm-password" placeholder="Enter Confirm Password">
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="save-changes text-end">
								<a href="javascript:void(0);" class="btn btn-primary reset-profile">Reset</a>
								<a href="javascript:void(0);" class="btn btn-secondary save-profile">Save Change</a>
							</div>
						</div>
					</div>
				</div>	

			</div>
		</div>
		<!-- /Page Content -->

