<!-- Page Content -->
<div class="content blur-ellipses">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 mx-auto vph-100 d-flex align-items-center">
        <div class="forgot-password w-100">
          <header class="text-center">
            <a href="javascript:void(0);">
              <img src="assets/img/logo-black.svg" class="img-fluid imgg-header-logo" alt="Logo">
            </a>
          </header>
          <div class="shadow-card">
            <h2>Forgot Password</h2>
            <p>Enter Registered Email</p>
            <!-- Login Form -->
            <form [formGroup]="form" (ngSubmit)="forgotPassword()">
              <div class="form-group">
                <div class="group-img">
                  <i class="feather icon-mail"></i>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    formControlName="email"
                    placeholder="Email"
                                  [ngClass]="{
                                    'is-invalid': f['email'].touched && f['email'].invalid
                                  }"
                    />
                    @if (f['email'].touched && f['email'].invalid) {
                      <div
                        class="invalid-feedback"
                        >
                        @if (f['email'].errors && f['email'].errors['required']) {
                          <div>
                            Email is required.
                          </div>
                        }
                        @if (f['email'].errors && f['email'].errors['email']) {
                          <div>
                            Please, enter valid email address.
                          </div>
                        }
                      </div>
                    }



                  </div>
                </div>

                <button
                  (click)="direction()"
                  class="btn btn-secondary w-100 d-inline-flex justify-content-center align-items-center"
                  type="submit"
                  >
                  Submit
                  <i class="feather icon-arrow-right-circle ms-2"></i>
                </button>
              </form>
              <!-- /Login Form -->
            </div>
            <div class="bottom-text text-center">
              <p>Remember Password? <a [routerLink]="routes.login">Sign In!</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Content -->




