<!-- Page Content -->
<div class="content">
    <div class="container">
        <section class="card mb-40">
            <div class="text-center mb-40">
                <h3 class="mb-1">Order Confirmation</h3>
                <p class="sub-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="master-academy dull-whitesmoke-bg card">
                <div class="d-sm-flex justify-content-between align-items-center">
                    <div class="d-sm-flex justify-content-start align-items-center">
                        <a href="javascript:void(0);"><img class="corner-radius-10"
                                src="assets/img/profiles/avatar-02.png" alt=""></a>
                        <div class="info">
                            <div class="d-flex justify-content-start align-items-center mb-3">
                                <span
                                    class="text-white dark-yellow-bg color-white me-2 d-flex justify-content-center align-items-center">4.5</span>
                                <span>300 Reviews</span>
                            </div>
                            <h3 class="mb-2">Kevin Anderson</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                    <div class="white-bg">
                        <p class="mb-1">Starts From</p>
                        <h3 class="d-inline-block primary-text mb-0">$150</h3><span>/hr</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="card booking-order-confirmation">
            <h5 class="mb-3">Booking Details</h5>
            <ul class="booking-info d-lg-flex justify-content-start align-items-center">
                <li>
                    <h6>Coach Name</h6>
                    <p>Kevin Anderson</p>
                </li>
                <li>
                    <h6>Lesson Type</h6>
                    <p>Individual</p>
                </li>
                <li>
                    <h6>Appointment Days</h6>
                    <p>Day 1 : 26, April 2023 - 7:00pm, Day 2 : 27, April 2023 - 5:00pm, Day 3 : 28, April 2023 - 6:00pm
                    </p>
                </li>
            </ul>
            <h5 class="mb-3">Contact Information</h5>
            <ul class="contact-info d-lg-flex justify-content-start align-items-center">
                <li>
                    <h6>Name</h6>
                    <p>Rodick Tramliar</p>
                </li>
                <li>
                    <h6>Contact Email Address</h6>
                    <p>contact&#64;example.com</p>
                </li>
                <li>
                    <h6>Phone Number</h6>
                    <p>+1 56565 556558</p>
                </li>
            </ul>
            <h5 class="mb-3">Payment Information</h5>
            <ul class="payment-info d-lg-flex justify-content-start align-items-center">
                <li>
                    <h6>Coach Price</h6>
                    <p class="primary-text">($150 * 3 hours)</p>
                </li>
                <li>
                    <h6>Subtotal</h6>
                    <p class="primary-text">$350.00</p>
                </li>
            </ul>
        </section>
        <div class="text-center btn-row">
            <a class="btn btn-primary me-3 btn-icon" [routerLink]="routes.lessonPersonalInfo"><i
                    class="feather icon-arrow-left-circle me-1"></i> Back</a>
            <a class="btn btn-secondary btn-icon" [routerLink]="routes.lessonPayment">Next <i
                    class="feather icon-arrow-right-circle ms-1"></i></a>
        </div>
    </div>
    <!-- /Container -->
</div>
<!-- /Page Content -->